body {
  /* spacing */
  margin: 0;
  /* others */
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
}

#back_stage {
  /* background: url(../assets/imgs/stages/stage_guile.gif); */
  /* size */
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  /* position */
  position: fixed;
  z-index: -1;
  background-size: 100% 100%;
  /* other */
  filter: blur(0vw) brightness(1);
  transition: 0.4s;
}

.div-mid {
  /* border: 3px solid red; */
  /* size */
  width: 100vw;
  height: 52vh;
  /* flex */
  display: flex;
  justify-content: space-between;
}

.div-preview {
  /* border: 3px solid blue; */
  /* size */
  width: 20vw;
  height: 58vh;
}

.img-preview {
  /* border: 3px solid black; */
  /* size */
  width: 100vw;
  height: 100vh;
  /* position */
  position: absolute;
  /* other */
  user-select: none;
  image-rendering: pixelated;
  transition: 2s;
}

/* BOTTOM */
.div-bottom {
  /* border: 3px solid blue; */
  /* size */
  width: 100vw;
  height: 50vh;
  /* position */
  position: absolute;
  bottom: 0;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color */
  /* background-color: lightskyblue; */
}

.div-names {
  /* border: 3px solid red; */
  /* size */
  width: 85vw;
  height: 8vh;
  /* position */
  bottom: 0;
  /* flex */
  display: flex;
  justify-content: space-between;
  /* color */
  /* background-color: black; */
  transition: 2s;
}
.stage-name {
  /* size */
  width: 20%; 
  /* spacing */
  /* font */
  font-size: 2vw; 
  text-align: center; 
  text-shadow: 0.1vw 0.2vh #ed145b; 
  /* animation */
  animation: 0;
  transition: 2s;
  
}
.char-name {
  /* border: 3px solid blue; */
  /* size */
  width: 40%;
  height: 8vh;
  /* font */
  line-height: 1;
  font-family: Squids;
  font-weight: 1000;
  font-size: 4.5vw;
  -webkit-text-stroke: 0.1vw #6b102f;
  text-shadow: 0.3vw 0.6vh #ed145b;
  font-weight: 1000;
  /* color */
  color: white;
  user-select: none;
  /* animation */
  animation: font-shadow 1s infinite alternate;
  transition: 1s;
}
@keyframes font-shadow {
  0% {
    transform: translateY(0);
  }
  100% {
    text-shadow: 0vw 0vh #ed145b;
    transform: translateY(-0.1vw);
  }
}

.div-selection {
  /* border: 3px solid red; */
  /* size */
  width: 75vw;
  height: 42vh;
  /* position */
  bottom: 0;
  /* flex */
  display: flex;
  /* color */
  /* animation */
  /* transition: 2s;  */
}

.group-selections {
  /* border: 3px solid #ed145b; */
  /* size */
  width: 33vw;
  height: 42vh;
  /* flex */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}
.group-selections button {
  border-top-right-radius: 1vw;
}
#stages_subgroup button {
 /* border: 3px solid red; */
 /* size */
 width: 6vw;
 height: 26vh;
 background-size: cover;
}
.left-group {
  /* position */
  justify-content: flex-end;
  padding-right: 6vw;
}
.left-group button {
  /* other */
  transform: skew(23deg);
}
.right-group {
  /* position */
  justify-content: flex-start;
  padding-left: 6vw;
}
.right-group button {
  /* other */
  transform: skew(-23deg) scaleX(-1);
}
.stage-char {
  /* spacing */
  margin: 0.15vw;
  /* animation */
  transition: 0.3s;
}
.btn-char {
  /* size */
  width: 9vw;
  height: 16vh;
  background-size: 100% 100%;
  /* spacing */
  margin: 0.35vw;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font */
  font-size: 3vw;
  /* color */
  filter: saturate(0);
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0.2vw solid #ed145b;
  border-bottom: 0.2vw solid #ed145b;
  /* border: 0.2vw solid #ed145b; */
  /* other */
  cursor: pointer;
  transition: 0.2s;
}
.acquired:hover {
  background-color: #6b102f;
  backdrop-filter: blur(1vw);
}
.inate:hover {
  background-color: #6b102f;
  filter: saturate(0.3);
  backdrop-filter: blur(1vw);
}
.btn-char:focus {
  outline: 0;
}
.unselected {
  filter: saturate(1);
}
.chosen-stage {
  height: 28vh !important;
  background-color: #ed145b;
  filter: saturate(1) drop-shadow(0.2vw 0.4vw 0.6vw #ed145b);
  border: 0;
  border-left: 0.2vw solid #ed145b;
  border-bottom: 0.2vw solid #ed145b;
}
.chosen-char {
  background-color: #ed145b;
  filter: saturate(1) drop-shadow(0.2vw 0.4vw 0.6vw #ed145b);
}

/* RANDOM CHARS */
.random-shape {
  /* form */
	border-top: 12vw solid rgba(107, 16, 47, 0.6);
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
  /* size */
	width: 2.8vw;
	height: 2vh;
  /* position */
  position: absolute;
  bottom: 6vh;
  z-index: -1;
  /* animation */
  transition: 1s;
}
#random_symbol {
  /* border: 0.2vw solid red; */
  user-select: none;
  /* size */
  width: 4vw;
  height: 12vh;
  padding: 1vw 1.5vw 2vw 1.5vw;
  /* position */
  position: absolute;
  bottom: 14vh;
  /* font */
  text-align: center;
  color: white;
  font-size: 4vw;
  font-family: Squids;
  /* other */
  cursor: pointer;
  /* animation */
  transition: 1s;
}
#random_symbol:hover {
  color: #ed145b;
  filter: drop-shadow(0.4vw 0.4vh #6b102f);
}
#random_symbol:hover + .random-shape {
  border-top: 12vw solid rgba(237, 20, 91, 0.4);
}